/.idea/
/.gradle/
/build/
/out/
*.classpath
*.project
*.factorypath
*/target
*/classes
*.settings
*/BD
*.idea
*.log*
target
classes
.idea/vcs.xml
/.idea/vcs.xml
/.metadata/
/.recommenders/
orbtrc*
node_modules
.vscode
*tar.gz
*tgz
